{% extends "gamelist/wrapper.html" %}

{% block description %}
<div class="description flex-grow1">
  <p>
    This is the gamelist project that has a system of users <br />
    who can create a review for any game.<br />
    The user can also rate reviews of other users.
  </p>
</div>
{% endblock description %}
{% block content %}
<div class="main">
  <div class="review-list">
    {% for review in reviews %}
    <div class="review" id="{{ review.id }}">
      <div class="review-title">
        <h1><a href="/gamelist/review/{{ review.id }}/">{{ review.title }}</a></h1>
      </div>
      <div class="review-rating">
        <h2>
          {{ review.rating|floatformat }}
          <i class="fas fa-star yellow"></i>
        </h2>
      </div>
      <div class="review-content" id="review">
        <p>{{ review.review|linebreaks }}</p>
      </div>
      <div class="rate">
        <h2>Do you like it?
            {% if user.is_authenticated %}
                {% if user in review.likedone.all %}
                    <a class="liked" href="rate/{{ review.id }}"><i class="fas fa-thumbs-up"></i></a>
                    {% else %}
                    <a href="rate/{{ review.id }}"><i class="fas fa-thumbs-up"></i></a>
                {% endif %}
            {% else %}
                <a href="/gamelist/login?next={{ request.path }}"><i class="fas fa-thumbs-up"></i></a>
            {% endif %}
            {{ review.likenumber }}
        </h2>
      </div>
      <div class="reviewer">
        <h2><a href="{{ review.reviewer }}">{{ review.reviewer }}</a></h2>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
{% block footer %}
<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/owelray/frstprjct"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/nzaliznyi/"><i class="fab fa-linkedin-in"></i></a>
      <a href="mailto:owelray@gmail.com"><i class="far fa-envelope"></i></a>
      <a href="https://t.me/owelray"><i class="fab fa-telegram"></i></a>
    </div>
</div>
{% endblock footer %}