{% extends 'gamelist/wrapper.html' %}
{% block  content %}
    <div class="auth flex-grow1">
    {% if user.is_authenticated %}
    <h1>You are already authorized</h1>
    <h2>If you want to change account you should try to <a href="/gamelist/logout?next={{ request.path }}">logout</a>  first</h2>
    {% else %}    
    <form action="" method="POST" autocomplete="off">
    {% csrf_token %}
        {{ form }}
        <button type="submit">Sign In</button>
    </form>
    {% endif %}
    </div>
{% endblock %}
{% block footer %}
   <div class="footer">
        <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
        </div>
   </div>
{% endblock %}
