{% extends "gamelist/wrapper.html" %}

{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ userinfo.username }}'s Profile</title>
  <script src="https://kit.fontawesome.com/71a235d8ae.js" crossorigin="anonymous"></script>
{% endblock %}

{% block description %}
<div class="description">
    <h1>{{ userinfo }}'s profile</h1>
    <h4>Registered in {{ userinfo.date_joined }}</h4>
</div>
{% endblock %}

{% block content %}
<div class="info flex-grow1">
    <div class="reviews">
        <div class="list-title-size">
            <h1>Reviews</h1>
        </div>
        <div class="sort-user">
            <h2 class="padding-right15px">Sort by: </h2>
            <div class="sorting-categories">
              <h2 class="padding-right15px"><a onclick="sortlist('--');" class="choosed sorting-buttons" id="2">Newest</a></h2>
              <h2 class="padding-right15px"><a onclick="sortlist('----');" class="sorting-buttons" id="4">Oldest</a></h2>
              <h2 class="padding-right15px"><a onclick="sortlist('-');" class="sorting-buttons" id='1'>Most Liked</a></h2>
              <h2><a onclick="sortlist('---');" class="sorting-buttons" id="3">High Rated</a></h2>
            </div>
          </div>
        {% if reviews.count > 0  %}
            <div class="reviews-list list" id="list">
            {% for review in reviews %}
                <div class="review" id='likes-{{ review.likenumber }}-date--{{ review.date|date:"U" }}--rating---{{ review.rating|floatformat }}---date----{{ review.date|date:"U" }}'>
                    <div class="review-title">
                        <h1><a href="/gamelist/review/{{ review.id }}">{{ review.title }}</a></h1>
                    </div>
                    <div class="review-rating">
                        <h2>
                            {{ review.rating|floatformat }}
                            <i class="fas fa-star yellow"></i>
                        </h2>
                    </div>
                    <div class="review-content" id="review">
                        <p><a href="/gamelist/review/{{ review.id }}/">{{ review.review|linebreaks }}</a></p>
                    </div>
                    <div class="rate">
                        <h2>Do you like it?
                            {% if user.is_authenticated %}
                                {% if user in review.likedone.all %}
                                    <a class="liked" href="/gamelist/rate/{{ review.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% else %}
                                    <a href="/gamelist/rate/{{ review.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% endif %}
                            {% else %}
                                <a href="/gamelist/login?next={{ request.path }}"><i class="fas fa-thumbs-up"></i></a>
                            {% endif %}
                            {{ review.likenumber }}
                        </h2>
                    </div>
                    <div class="reviewer">
                        <h2><a href="/gamelist/user/{{ userinfo }}">{{ review.reviewer }}</a></h2>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="empty-field"><h2>User hasn't published any reviews</h2></div>
        {% endif %}
    </div>
    <div class="likes flex-grow1">
        <div class="list-title-size">
            <h1>Liked Reviews</h1>
        </div>
        {% if likes.count > 0 %}
            <div class="likes-list list">
                {% for like in likes %}
                <div class="review" id="{{ like.id }}">
                    <div class="review-title">
                        <h1><a href="/gamelist/review/{{ like.id }}">{{ like.title }}</a></h1>
                    </div>
                    <div class="review-rating">
                        <h2>
                            {{ like.rating|floatformat }}
                            <i class="fas fa-star yellow"></i>
                        </h2>
                    </div>
                    <div class="review-content" id="review">
                        <p><a href="/gamelist/review/{{ like.id }}/">{{ like.review|linebreaks }}</a></p>
                    </div>
                    <div class="rate">
                        <h2>Do you like it?
                            {% if user.is_authenticated %}
                                {% if user in like.likedone.all %}
                            <a class="liked" href="/gamelist/rate/{{ like.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% else %}
                            <a href="/gamelist/rate/{{ like.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% endif %}
                            {% else %}
                            <a href="/gamelist/login?next={{ request.path }}"><i class="fas fa-thumbs-up"></i></a>
                            {% endif %}
                            {{ like.likenumber }}
                        </h2>
                    </div>
                    <div class="reviewer">
                        <h2><a href="/gamelist/user/{{ like.reviewer }}">{{ like.reviewer }}</a></h2>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="empty-field"><h2>User hasn't liked any review</h2></div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="footer">
    <div class="footer-links">
      <a href="https://github.com/owelray/frstprjct/blob/master/gamelist/views.py#L23" target="_blank"><i class="fab fa-github"></i></a>
    </div>
{% endblock %}
{% block scripts %}
  <script src="/static/js/sort.js"></script>
{% endblock %}