{% extends "gamelist/wrapper.html" %}

{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ userinfo.username }}'s Profile</title>
  <script src="https://kit.fontawesome.com/71a235d8ae.js" crossorigin="anonymous"></script>
{% endblock %}

{% block description %}
<div class="description">
    <h1>{{ userinfo }}'s profile</h1>
    <h4>Registered in {{ userinfo.date_joined }}</h4>
</div>
{% endblock %}

{% block content %}
<div class="info flex-grow1">
    <div class="reviews">
        <div class="list-title-size">
            <h1>Reviews</h1>
        </div>
        {% if reviews.count > 0  %}
            <div class="reviews-list list">
            {% for review in reviews %}
                <div class="review" id="{{ review.id }}">
                    <div class="review-title">
                        <a href="/gamelist/review/{{ review.id }}">
                            <h1>{{ review.title }}</h1>
                        </a>
                    </div>
                    <div class="review-rating">
                        <h2>
                            {{ review.rating|floatformat }}
                            <i class="fas fa-star yellow"></i>
                        </h2>
                    </div>
                    <div class="review-content" id="review">
                        <p>{{ review.review|linebreaks }}</p>
                    </div>
                    <div class="rate">
                        <h2>Do you like it?
                            {% if user.is_authenticated %}
                                {% if user in review.likedone.all %}
                                    <a class="liked" href="/gamelist/rate/{{ review.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% else %}
                                    <a href="/gamelist/rate/{{ review.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% endif %}
                            {% else %}
                                <a href="/gamelist/login?next={{ request.path }}"><i class="fas fa-thumbs-up"></i></a>
                            {% endif %}
                            {{ review.likenumber }}
                        </h2>
                    </div>
                    <div class="reviewer">
                        <a href="/gamelist/{{ userinfo }}">
                            <h2>{{ review.reviewer }}</h2>
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <div class="empty-field"><h2>User hasn't published any reviews</h2></div>
        {% endif %}
    </div>
    <div class="likes flex-grow1">
        <div class="list-title-size">
            <h1>Likes</h1>
        </div>
        {% if likes.count > 0 %}
            <div class="likes-list list">
                {% for like in likes %}
                <div class="review" id="{{ like.id }}">
                    <div class="review-title">
                        <a href="/gamelist/review/{{ like.id }}">
                            <h1>{{ like.title }}</h1>
                        </a>
                    </div>
                    <div class="review-rating">
                        <h2>
                            {{ like.rating|floatformat }}
                            <i class="fas fa-star yellow"></i>
                        </h2>
                    </div>
                    <div class="review-content" id="review">
                        <p>{{ like.review|linebreaks }}</p>
                    </div>
                    <div class="rate">
                        <h2>Do you like it?
                            {% if user.is_authenticated %}
                                {% if user in like.likedone.all %}
                            <a class="liked" href="/gamelist/rate/{{ like.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% else %}
                            <a href="/gamelist/rate/{{ like.id }}"><i class="fas fa-thumbs-up"></i></a>
                                {% endif %}
                            {% else %}
                            <a href="/gamelist/login?next={{ request.path }}"><i class="fas fa-thumbs-up"></i></a>
                            {% endif %}
                            {{ like.likenumber }}
                        </h2>
                    </div>
                    <div class="reviewer">
                        <a href="/gamelist/{{ like.reviewer }}">
                            <h2>{{ like.reviewer }}</h2>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="empty-field"><h2>User hasn't liked any review</h2></div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block footer %}
<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
    </div>
{% endblock %}