<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static "/css/gamelist.css" %}">

<head>
{% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameList</title>
  <script src="https://kit.fontawesome.com/71a235d8ae.js" crossorigin="anonymous"></script>
{% endblock%}
</head>

<body>
  <div class="wrapper">
    {% block navbar %}
    <div class="header">
      <ul>
        <li class="homebutton">
          <a href="/gamelist"></a>
        </li>
        <li class="returnbutton btn">
          <a href="/">
            <p>Return to portfolio</p>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="title btn">
          <h1><a href="/gamelist/{{ user }}">My profile</a></h1>
        </li>
        <li class="add-game btn">
          <a href="/gamelist/add">
            <h2>Make a review</h2>
          </a>
        </li>
        <li class="logout btn">
          <a href="/gamelist/logout?next={{ request.path }}">
            <h2>LogOut</h2>
          </a>
        </li>
        {% else %}
        <li class="title btn padding-title">
          <h1>GameList</h1>
        </li>
        <li class="register btn">
          <a href="/gamelist/register?next={{ request.path }}">
            <h2>SignUp</h2>
          </a>
        </li>
        <li class="login btn">
          <a href="/gamelist/login?next={{ request.path }}">
            <h2>SignIn</h2>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endblock navbar %}
    <div class="container">
      {% block description %}
      {% endblock description %}
      {% block content %}
      {% endblock content %}
    </div>
    {% block footer %}
    {% endblock footer %}
  </div>
</body>
    {% block scripts %}
    {% endblock %}
</html>