{% extends "first_project/wrapper.html" %}
{% block head %}

<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/71a235d8ae.js" crossorigin="anonymous"></script>
</head>
{% endblock %}

{% block description %}
<div class="description">
    <h1>{{ book.title }}</h1>
    <h3>{{ book.author }}</h3>
    <h4>Published in {{ book.date }} by <a href="/first_project/user/{{ book.reviewer_id }}">{{ book.reviewer }}</a>
    </h4>
</div>
{% endblock %}

{% block content %}
<div class="content">
    <div class="text padding-top width-85">
        <p>{{ book.review|linebreaksbr }}</p>
        <!-- <p> test </p> -->
    </div>
</div>
<div class="rate flex-grow1 padding-top justify-center flex">
    <div class="like-btn width-85">
        <h2>Do you like it?
            {% if user.is_authenticated %}
                {% if user in book.likedone.all %}
                    <a class="liked" href="/first_project/rate/{{ book.id }}?next=/first_project/review/{{ book.id }}/"><i class="fas fa-thumbs-up"></i></a>
                    {% else %}
                    <a href="/first_project/rate/{{ book.id }}?next=/first_project/review/{{ book.id }}/"><i class="fas fa-thumbs-up"></i></a>
                {% endif %}
            {% else %}
                <a href="/first_project/login?next={{ request.path }}"><i class="fas fa-thumbs-up"></i></a>
            {% endif %}
            {{ book.likenumber }}
        </h2>
    </div>
</div>

{% endblock %}
{% block footer %}
<div class="footer">
     <a href="#"><i class="fab fa-github"></i></a>
</div>
{% endblock %}