@font-face {
  font-family: "Gravity-Regular";
  src: url("../fonts/Gravity-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-Light";
  src: url("../fonts/Gravity-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-UltraLight";
  src: url("../fonts/Gravity-UltraLight.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
}

html {
  scroll-behavior: smooth; 
  background-image: radial-gradient(
    circle,
    #37b1da,
    #2d8fba,
    #256e99,
    #1d5078,
    #133357
  );
}
body {
  height: 100vh;
   
}
.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
p {
  color: white;
  margin: 0;
  font-family: Gravity-Regular;
  font-size: 2.134646962233169vw;
}
.flex-grow1 {
  flex-grow: 1;
}
.btn {
  display: block;
}
.btn p:hover {
  background-color: white;
  border: 1px white solid;
  border-radius: 200px;
  transition: 0.3s ease-in;
  color: black;
  padding: 0.1em;
}
h1 {
  font-family: Gravity-Light;
  font-size: 8.2vmin;
  color: white;
}
h2 {
  font-family: Gravity-UltraLight;
  font-size: 2.4630541871921183vw;
  color: white;
}
h3 {
  font-family: Gravity-Light;
  font-size: 3.1297208538587844vw;
  color: white;
}
h4 {
  font-family: Gravity-Ultralight;
  color: white;
  font-size: 2.3472906403940885vw;
}
.btn h2:hover {
  background-color: white;
  border: 1px white solid;
  border-radius: 200px; 
  transition: 0.3s ease-in; 
  color: black;
  padding: 0.1em; 
}
a {
  text-decoration: none;
  color: white;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.width-85 {
  width: 85%;
}
.padding-top {
  padding-top: 5vh;
}
.justify-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.nt {
  display: flex;
  justify-content: center;
}









/* containers */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  flex-grow: 1;
  /* align-items: center; */
}
.description {
  width: 89%;
  display: flex;
  justify-content: center;
  font-size: 2.3472906403940885vw;
  align-self: center;
  text-align: center;
  word-break: break-word;
  flex-direction: column;
  padding-bottom: 1vh;
}
.description p {
  font-size: 3.5vmin;
}
.description a {
  text-decoration: underline;
}
.description a:hover {
  color: gold;
  transition: 0.2s ease-in;
}
.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2.6vh;
  flex-grow: 1;
  justify-content: center;
}
.header {
  display: flex;
  justify-content: space-between;
  /* height: 8vh; */
  /* align-items: center; */
  flex-grow: 0;
}
.footer {
  display: flex;
  flex-grow: 0;
  height: 11vh;
  justify-content: center;
}
.footer i {
  font-size: 6vmin;
  color: white;
}
.footer i:hover {
  color: black;
  transition: 0.2s ease-in;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
/* end containers */












/* header */
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
.homebutton a {
  background: url(/static/images/home_icon.png) no-repeat center top / cover;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  
  image-rendering: crisp-edges;
  height: 5.6663168940188875vh;
  width: 5.6663168940188875vh;
  display: block;
}
.homebutton a:hover {
  background: url(/static/images/home_icon_hover.png) no-repeat center top / cover;
  background-color: white;
  border-radius:  4.197271773347325vh;
  transition: 0.3s ease-in;
  color: black;
  padding: 0.2em;
}
.returnbutton { 
  text-align: center;
  /* flex-grow: 1; */
  padding-left: 2.0986358866736623vh;
}
.title {
  flex-grow: 2;
  text-align: center;
  justify-items: center;
}
.title h1 {
  font-size: 5vw;
}
.title a:hover {
  transition: 0.2s ease-in;
  color: lightskyblue;
}
.register {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 2.0986358866736623vh;
}
.login {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 8.39454354669465vh;
}
.add-book {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 2.0986358866736623vh;
}
.logout {
  /* flex-grow: 1;  */
  text-align: center;
  justify-content: center;
  /* padding-right: 1vh; */
  display: flex;
}
.logout h2 {
  width: 10vw;
}
.padding-logout {
  flex-grow: 1;
}
.padding-title {
  padding-right: 5vh;
}
/* end header */








/* review */
.review-list {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
}
.review {
  /* background: url(../images/h-book-colors.png) no-repeat center top / cover; */
  /* background-color: #658DD6; */
  background-image: linear-gradient(to left top, 
   #1b7b94,
   #077595,
   #007096, 
   #006997,
   #026396);  
  height: auto;
  border-radius: 1.9vh;
  width: 39vh;
  margin:  1.5739769150052465vh;
  text-align: center;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}
.review h1 {
  font-family: Gravity-Regular;
  font-size: 3.4vh;
  color: white; /*#748ed9*/ /*#006e85 */
  font-style: normal;
}
.review h2 {
  font-size: 2.6vh;
  font-family: Gravity-Light;
}
.review p {
  font-family: Gravity-Ultralight;
  font-size: 2.3vh;
}
.book-title {
  word-wrap: break-word;
  max-height: 9.1vh;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}
.book-title h1:hover {
  color: gold;
  text-decoration: none;
  transition: all 0.2s linear;
}
.book-author {
  word-wrap: break-word;
}
.rate {
  font-size: 2.3472906403940885vw;
  color: white;
}
.rate i {
  padding-left: 0.5vh;
}
.rate i:hover {
  color: gold;
  transition: all 0.1s linear;
}
.liked {
  color: gold;
}
.reviewer  {
  padding-right: 1.0493179433368311vh;
   text-align: right; 
  /* height: 50px; */
}
.reviewer h2:hover {
  color: gold;
  transition: all 0.1s linear;
}
 .review-content {
  width: 100%;
  height: 16.5vh;
  /* display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: normal;*/
  overflow-wrap: break-word;  
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;

}
/* end review */







/* add.html */
form {
  width: 100%;
}
.review-form {
  display: flex;
  /* justify-content: space-between;  */
  height: 100%;
  align-items: center;
}
.inputs {
  justify-content: space-around;
  display: flex;
  /* flex-wrap: wrap; */
}
.review-form label {
  display: block;
  color: white;
  font-family: Gravity-Light;
  font-size: 2.7914614121510675vw;
  text-align: center;
}
.review-form input::placeholder {
  color: #133357;
}
.review-form input[type=text] {
  background-color: #01bcc6;
  /* height: 5.246589716684155vh; */
  /* width: auto; */
  border: none;
  font-size: 1.6420361247947455vw;
  font-weight: 400;
  color: #efefee;
  font-family: Gravity-Regular;
  border-radius: 300px;
  text-align: center;
  outline: 0;
}
.review-form textarea {
  background-color: #01bcc6;
  /* height: 10%; */
  /* width: auto; */
  border: none;
  font-size: 1.6vw;
  font-weight: 400;
  color: #efefee;
  font-family: Gravity-Regular;
  border-radius: 30px;
  text-align: center;
  outline: 0;
  resize: none;
}
.title-input {
  width: 50vw;
}
.title-input input{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 6.9vmin;
  padding: 5px;
}
.author-input {
  width: 30vw;
}
.author-input input{
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 6.9vmin;
  padding: 5px;
}

.review-input textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 45vmin;
  padding: 5px;
}
.review-input textarea::placeholder {
  color: #133357;
}
.review-input {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.publish-button {
  justify-content: center;
  display: flex;
  height: 4.5vmin;
  padding-top: 30px;
}
input[type='submit'] {
  height: 100%;
  width: 25%;
  font-family: Gravity-Light;
  font-weight: 700;
  font-size: 1.6vw;
  color: black;
  text-align: center;
  background-color: #09cac7;
  border: 1px #87314e solid;
  /* opacity: 1; */
  cursor: pointer;
  /* padding: 0px 20px; */
  border-radius: 2.0986358866736623vh;
  outline: 0;
}

input[type=submit]:hover {
background-color: rgb(141, 235, 238);
  border: 1px black solid;
  transition: 0.1s linear;
}
.non-authorized {
  padding-bottom: 20vh;
  text-align: center;
}
.non-authorized h3 {
  padding-top: 2vh;
}  
/* end add.html */





/* profile.html */
.info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  text-align: center;
}
.list-title-size h1 {
  font-size: 7.5vmin;
}

/* end profile.html */




/* review.html */
.content {
  display: flex;
  justify-content: center;
}
.text {
  /* width: 85%; */
  /* display: flex;
  justify-content: center; */
  /* text-align: center; */
  word-break: break-word;
}
.text p {
  font-size: 3.1297208538587844vw;
}
/* end review.html */








/* registration.html and login.html */
.auth {
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 2.7914614121510675vw;
  color: white;
  justify-content: center;
}
.auth form {
  font-family: Gravity-Regular;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  width: 70%;
  text-align: center;
  align-items: center;
  padding-bottom: 5vh;
}
.auth input::placeholder {
  color: #133357;
}
.auth input[type=text], input[type=password] {
  background-color: #01bcc6;
  height: 5.246589716684155vh;
  /* width: auto; */
  border: none;
  font-size: 1.6420361247947455vw;
  font-weight: 400;
  color: #efefee;
  font-family: Gravity-Regular;
  border-radius: 2.4134312696747116vh;
  text-align: center;
  outline: 0;
  width: 45%;
}
button[type='submit'] {
  height: 100%;
  font-family: Gravity-Light;
  font-weight: 700;
  font-size: 1.9704433497536946vw;
  color: black;
  line-height: 4.197271773347325vh;
  text-align: center;
  background-color: #09cac7;
  border: 1px #87314e solid;
  /* opacity: 1; */
  cursor: pointer;
  margin-top: 5.246589716684155vh;
  /* padding: 0px 20px; */
  border-radius: 2.0986358866736623vh;
  outline: 0;
  width: 30%;
}
  
button[type=submit]:hover {
background-color: rgb(141, 235, 238);
  border: 1px black solid;
  transition: 0.1s linear;
}
.errorlist {
  text-align: start;
  font-size: 1.6420361247947455vw;
  color: black;
}
/* end registration.html and login.html */






