@font-face {
  font-family: "Gravity-Regular";
  src: url("../fonts/Gravity-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-Light";
  src: url("../fonts/Gravity-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-UltraLight";
  src: url("../fonts/Gravity-UltraLight.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
  display: flex;
}

body {
  background: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
    to right bottom,
    #0b2b5c,
    #003f5c,
    #0b4c4f,
    #3f554a,
    #5c5e57
  );
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.project-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.height {
  height: 33vh;
}

label {
  font-family: Gravity-Light;
  font-size: 40px;
  color: white;
}

input[type="text"],
input[type="number"] {
  background-color: cadetblue;
  height: 40px;
  width: 100%;
  border: none;
  font-size: 25px;
  font-weight: 400;
  font-family: Gravity-Regular;
  border-radius: 23px;
  text-align: center;
  outline: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="submit"] {
  height: 40px;
  width: 100%;
  font-family: Gravity-Light;
  font-weight: 700;
  font-size: 18px;
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: goldenrod;
  border: 1px #87314e solid;
  opacity: 1;
  cursor: pointer;
  margin-top: 24px;
  padding: 0px 20px;
  border-radius: 20px;
}

input[type="submit"]:hover {
  background-color: white;
  border: 1px black solid;
  transition: 0.3s linear;
}

h2 {
  color: whitesmoke;
  font-family: Gravity-UltraLight;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

th {
  font-family: Gravity-Light;
  color: white;
  font-weight: normal;
  font-size: 25px;
}

td {
  font-family: Gravity-UltraLight;
  color: aquamarine;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}

a {
  color: chartreuse;
  border-radius: 40px;
}

.upper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.navigation-links {
  flex-grow: 1;
  height: 60px;
}
.description {
  flex-grow: 4;
}

.upper p {
  color: white;
  font-size: 20px;
  font-family: Gravity-Regular;
  text-align: center;
}
.links {
  flex-grow: 1;
}
