@font-face {
  font-family: "Gravity-Regular";
  src: url("../fonts/Gravity-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-Light";
  src: url("../fonts/Gravity-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-UltraLight";
  src: url("../fonts/Gravity-UltraLight.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  /* background-color: #F5F5F5; */
}

::-webkit-scrollbar {
  width: 10px;
  /* background-color: #F5F5F5; */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #26739d;
}

html {
  scroll-behavior: smooth;
  background-image: radial-gradient(
    circle,
    #37b1da,
    #2d8fba,
    #256e99,
    #1d5078,
    #133357
  );
}
body {
  height: 100vh;
}
.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
p {
  color: white;
  margin: 0;
  font-family: Gravity-Regular;
  font-size: 2.134646962233169vw;
  transition: 0.2s ease;
}
.flex-grow0 {
  flex-grow: 0;
}
.flex-grow1 {
  flex-grow: 1;
}
.decoration-none {
  text-decoration: none;
}
.decoration-underline a {
  text-decoration: underline;
}
.yellow {
  color: yellow;
}
.btn {
  display: block;
}
.btn p:hover {
  background-color: white;
  border: 1px white solid;
  border-radius: 200px;
  transition: 0.3s ease-in;
  color: black;
  padding: 0.1em;
}
h1 {
  font-family: Gravity-Light;
  font-size: 8.2vmin;
  color: white;
  transition: 0.2s ease-in;
}
h2 {
  font-family: Gravity-UltraLight;
  font-size: 2.4630541871921183vw;
  color: white;
  transition: 0.2s ease-in;
}
h3 {
  font-family: Gravity-Light;
  font-size: 3.1297208538587844vw;
  color: white;
  transition: 0.2s ease-in;
}
h4 {
  font-family: Gravity-Ultralight;
  color: white;
  font-size: 2.3472906403940885vw;
  transition: 0.2s ease-in;
}
h5 {
  font-family: Gravity-Ultralight;
  color: white;
  font-size: 2.3em;
  transition: 0.2s ease-in;
}
.btn h2:hover {
  background-color: white;
  border: 1px white solid;
  border-radius: 200px;
  transition: 0.3s ease-in;
  color: black;
  padding: 0.1em;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.2s ease;
}
i {
  transition: 0.1s linear;
}
label {
  transition: 0.1s ease-in;
}
img {
  width: auto;
  max-width: 100%;
  height: auto;
  transition: 0.1s linear;
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
  justify-content: center;
}
.text-center {
  text-align: center;
}
.width-85 {
  width: 85%;
}
.padding-top {
  padding-top: 23px;
}
.padding-right15px {
  padding-right: 15px;
}
.justify-center {
  justify-content: center;
}
.flex {
  display: flex;
}
.nt {
  display: flex;
  justify-content: center;
}

/* containers */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* height: 100%; */
  flex-grow: 1;
  /* align-items: center; */
}
.description {
  width: 89%;
  display: flex;
  justify-content: center;
  font-size: 2.3472906403940885vw;
  align-self: center;
  text-align: center;
  word-break: break-word;
  flex-direction: column;
  padding-bottom: 1vh;
}
.description p {
  font-size: 3.5vmin;
}
.description a:hover {
  color: yellow;
  transition: 0.2s ease-in;
}
.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2.6vh;
  flex-grow: 1;
  justify-content: center;
}
.sort {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.sorting-categories {
  display: flex;
  justify-content: space-between;
}
.sort h2 {
  font-size: min(2.6vw, 50px);
}
.sorting-categories a {
  cursor: pointer;
  transition: 0.2s ease;
}
.sorting-categories a:hover {
  color: yellow;
  text-decoration: underline;
}
.choosed {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  /* height: 8vh; */
  /* align-items: center; */
  flex-grow: 0;
}
.footer {
  display: flex;
  flex-grow: 0;
  height: 11vh;
  justify-content: center;
}
.footer i {
  font-size: 6vmin;
  color: white;
  /* transition: 0.2s ease-in black; */
}
.footer i:hover {
  color: black;
}
.footer a {
  align-self: center;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
/* end containers */

/* header */
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}
li {
  list-style-type: none;
}
.homebutton a {
  background: url(/static/images/home_icon.png) no-repeat center top / cover;
  image-rendering: -moz-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  height: 5.6663168940188875vh;
  width: 5.6663168940188875vh;
  display: block;
}
.homebutton a:hover {
  background: url(/static/images/home_icon_hover.png) no-repeat center top /
    cover;
  background-color: white;
  border-radius: 4.197271773347325vh;
  transition: 0.3s ease-in;
  color: black;
  padding: 0.2em;
}
.returnbutton {
  text-align: center;
  /* flex-grow: 1; */
  padding-left: 2.0986358866736623vh;
}
.title {
  flex-grow: 2;
  text-align: center;
  justify-items: center;
}
.title h1 {
  font-size: 5vw;
}
.title a:hover {
  transition: 0.2s ease-in;
  color: lightskyblue;
}
.register {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 2.0986358866736623vh;
}
.login {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 8.39454354669465vh;
}
.add-game {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 2.0986358866736623vh;
}
.logout {
  /* flex-grow: 1;  */
  text-align: center;
  justify-content: center;
  /* padding-right: 1vh; */
  display: flex;
}
.logout h2 {
  width: 10vw;
}
.padding-logout {
  flex-grow: 1;
}
.padding-title {
  padding-right: 5vh;
}
/* end header */

/* review */
.review-list {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
}
.review {
  background-color: #016e95;
  height: auto;
  border-radius: 1.9vh;
  width: 39vh;
  margin: 1.5739769150052465vh;
  text-align: center;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
}
.review h1 {
  font-family: Gravity-Regular;
  font-size: 3.4vh;
  color: white; /*#748ed9*/ /*#006e85 */
  font-style: normal;
}
.review h2 {
  font-size: 2.6vh;
  font-family: Gravity-Light;
}
.review p {
  font-family: Gravity-Ultralight;
  font-size: 2.6vh;
}
.review-title {
  word-wrap: break-word;
  max-height: 9.1vh;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}
.review-title a:hover {
  color: gold;
  text-decoration: none;
  transition: all 0.2s linear;
}
.review-rating {
  word-wrap: break-word;
}
.rate {
  font-size: 2.3472906403940885vw;
  color: white;
}
.rate i {
  padding-left: 0.5vh;
}
.rate i:hover {
  color: gold;
  transition: 0.1s linear;
}
.liked {
  color: gold;
}
.reviewer {
  padding-right: 1.0493179433368311vh;
  text-align: right;
  /* height: 50px; */
}
.reviewer a:hover {
  color: gold;
  transition: all 0.1s linear;
}
.review-content {
  width: 100%;
  height: auto;
  /* display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  white-space: normal;*/
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  padding-bottom: 1px;
}
/* end review */

/* add.html */
form {
  width: 100%;
}
.review-form {
  display: flex;
  /* justify-content: space-between;  */
  height: 100%;
  align-items: center;
}
.inputs {
  justify-content: space-around;
  display: flex;
  /* flex-wrap: wrap; */
}
.review-form label {
  /* display: flex; */
  color: white;
  font-family: Gravity-Light;
  font-size: 2.7914614121510675vw;
  text-align: center;
}
.review-form input::placeholder {
  color: #133357;
}
.review-form input[type="text"] {
  background-color: #01bcc6;
  /* height: 5.246589716684155vh; */
  /* width: auto; */
  border: none;
  font-size: 1.6420361247947455vw;
  font-weight: 400;
  color: #efefee;
  font-family: Gravity-Regular;
  border-radius: 300px;
  text-align: center;
  outline: 0;
}
.review-form textarea {
  background-color: #01bcc6;
  /* height: 10%; */
  /* width: auto; */
  border: none;
  font-size: 1.6vw;
  font-weight: 400;
  color: #efefee;
  font-family: Gravity-Regular;
  border-radius: 30px;
  text-align: center;
  outline: 0;
  resize: none;
}
.counter {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.title-input {
  width: 50vw;
  text-align: center;
  position: relative;
}
.title-input input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 6.9vmin;
  padding: 5px;
}
.search {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  margin: 0;
  background-color: #12d0dd;
  border-top: 1px;
  /* border-radius: 300px; */
  margin-top: 12px;
  outline: 0;
  height: auto;
  max-height: 50%;
}
.arrow_box {
  position: relative;
  background: #88b7d5;
  border: 4px solid #c2e1f5;
  height: 100%;
  /* overflow: hidden; */
}
.arrow_box:after,
.arrow_box:before {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #88b7d5;
  border-width: 10px;
  margin-left: -10px;
}
.arrow_box:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #c2e1f5;
  border-width: 16px;
  margin-left: -16px;
}
.results {
  overflow-y: scroll;
  height: 100%;
  max-height: 50vh;
}
.results::-webkit-scrollbar-track {
  display: none;
}
.search-result {
  text-align: left;
  padding-left: 1%;
  border-bottom: 1px solid #c2e1f5;
}
.result-title h3 {
  font-size: 2.129721vw;
  overflow-wrap: break-word;
}
.result-releasedate h2,
.result-genres h2 {
  font-size: 1.463054vw;
  overflow-wrap: break-word;
}
.result-description p {
  font-size: 1.2vw;
  overflow-wrap: break-word;
}
.result-buttons h2 {
  text-align: center;
}

.review-input textarea {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 45vmin;
  padding: 5px;
}
.review-input textarea::placeholder {
  color: #133357;
}
.review-input label {
  position: relative;
}
.review-input {
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 10px;
}
.publish-button {
  justify-content: center;
  display: flex;
  height: 4.5vmin;
  position: relative;
  margin-top: 15px;
}
input[type="submit"] {
  height: 100%;
  /* width: 25%; */
  width: 15em;
  font-family: Gravity-Light;
  font-weight: 700;
  font-size: 1.6vw;
  color: black;
  text-align: center;
  background-color: #09cac7;
  border: 1px #87314e solid;
  /* opacity: 1; */
  cursor: pointer;
  /* padding: 0px 20px; */
  border-radius: 2.0986358866736623vh;
  outline: 0;
  transition: 0.1s ease-in;
}

input[type="submit"]:hover {
  background-color: rgb(141, 235, 238);
  border: 1px black solid;
  transition: 0.1s linear;
}
.non-authorized {
  padding-bottom: 20vh;
  text-align: center;
}
.non-authorized h3 {
  padding-top: 2vh;
}

.feed-checkbox {
  /* display: flex;
  justify-content: center; */
  position: relative;
}
.feed-checkbox > input {
  display: none;
}
.feed-checkbox input[type="checkbox"] + label:before {
  margin: 5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f0c8";
}
.off {
  padding-left: 10px;
}
.feed-checkbox input[type="checkbox"] + label:hover {
  color: aqua;
}
.feed-checkbox input[type="checkbox"]:checked + label:before {
  font-size: 1em;
  margin: 5px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f14a";
  color: white;
}
/* .feed-text {
  position: absolute;
  right: -110%;
  bottom: 0;
} */
.relative {
  position: relative;
  display: flex;
}
/* end add.html */

/* profile.html */
.info {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  text-align: center;
}
.list-title-size h1 {
  font-size: 7.5vmin;
}

/* end profile.html */

/* review.html */
.content {
  display: flex;
  justify-content: center;
}
.text {
  /* width: 85%; */
  /* display: flex;
  justify-content: center; */
  /* text-align: center; */
  word-break: break-word;
  position: relative;
}
.text p {
  font-size: min(2.3vw, 50px);
}

.right_buttons {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.right_buttons a {
  text-decoration: underline;
}
.right_buttons a:hover {
  color: #84c7e1;
}
/* end review.html */

/* registration.html and login.html */
.auth {
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 2.7914614121510675vw;
  color: white;
  justify-content: center;
  text-align: center;
}
.auth a {
  text-decoration: underline;
  transition: 0.1s linear;
}
.auth a:hover {
  color: yellow;
}
.auth form {
  font-family: Gravity-Regular;
  display: flex;
  flex-direction: column;
  flex-basis: 0;
  width: 70%;
  text-align: center;
  align-items: center;
  padding-bottom: 5vh;
}
.auth input::placeholder {
  color: #133357;
}
.auth input[type="text"],
input[type="password"] {
  background-color: #01bcc6;
  height: 5.246589716684155vh;
  /* width: auto; */
  border: none;
  font-size: 1.6420361247947455vw;
  font-weight: 400;
  color: #efefee;
  font-family: Gravity-Regular;
  border-radius: 2.4134312696747116vh;
  text-align: center;
  outline: 0;
  width: 45%;
}
button[type="submit"] {
  height: 100%;
  font-family: Gravity-Light;
  font-weight: 700;
  font-size: 1.9704433497536946vw;
  color: black;
  line-height: 4.197271773347325vh;
  text-align: center;
  background-color: #09cac7;
  border: 1px #87314e solid;
  /* opacity: 1; */
  cursor: pointer;
  margin-top: 5.246589716684155vh;
  /* padding: 0px 20px; */
  border-radius: 2.0986358866736623vh;
  outline: 0;
  width: 30%;
}

button[type="submit"]:hover {
  background-color: rgb(141, 235, 238);
  border: 1px black solid;
  transition: 0.1s linear;
}
.errorlist {
  text-align: center;
  font-size: 1.6420361247947455vw;
  color: black;
}
/* end registration.html and login.html */

/* rate stars */

.game-rate {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
}

.rating {
  border: none;
  position: relative;
}

.result h2 {
  font-family: Gravity-UltraLight;
  font-size: 3.1198686371100166vw;
  color: white;
}

.rating > input {
  display: none;
}
.rating > .full:before {
  margin: 5px;
  font-size: 1.05em;
  display: inline-block;
  content: "\f005";
  font-family: FontAwesome;
}
.reset-rate {
  opacity: 0;
  position: absolute;
  left: -1em;
}
.rating > .half:before {
  margin: 5px;
  content: "\f089";
  position: absolute;
  font-family: FontAwesome;
}

.github:before {
  font-family: FontAwesome;
  font-style: normal;
  content: "\f09b";
}

.rating > label {
  color: #ddd;
  float: right;
}
.hidden_value {
  display: none;
}
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

/* game-definition.html */
.search-list {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  text-align: center;
}

/* .search-result {
  background-image: linear-gradient(
    to left top,
    #1b7b94,
    #077595,
    #007096,
    #006997,
    #026396
  );
  height: auto;
  border-radius: 1.9vh;
  width: 39vh;
  margin: 1.5739769150052465vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-result h1 {
  font-family: Gravity-Regular;
  font-size: 3.4vh;
  color: white;
  font-style: normal;
  transition: 0.2s ease;
}
.search-result a:hover {
  color: rgb(231, 235, 30);
}
.search-result h2 {
  font-size: 2.6vh;
  font-family: Gravity-Light;
}
.search-result p {
  font-family: Gravity-Ultralight;
  font-size: 2.3vh;
} */

.game-title {
  word-wrap: break-word;
  max-height: 9.1vh;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.game-genres {
  word-wrap: break-word;
}

.game-release {
  word-wrap: break-word;
}

.game-content {
  width: 100%;
  height: auto;
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  padding-bottom: 1px;
}

.see-more {
  font-size: 2.3472906403940885vw;
  color: white;
}
.see-more h2 {
  transition: 0.2s ease;
  text-decoration: underline;
}
.see-more a:hover {
  color: rgb(231, 235, 30);
}

.choose-button {
  font-size: 2.3472906403940885vw;
  color: white;
}
.choose-button h2 {
  transition: 0.2s ease;
  text-decoration: underline;
}
.choose-button a:hover {
  color: rgb(231, 235, 30);
}

.alternate-method {
  text-align: center;
}
.alternate-method a {
  text-decoration: underline;
}
.alternate-method a:hover {
  color: #01bcc6;
}

/* end game-definition.html */

/* media */
@media (min-width: 3000px) and (min-height: 1000px) and (max-height: 1330px) {
  .add-game {
    padding: 0;
  }
  .description {
    padding-top: 1vh;
  }
  .padding-logout {
    flex-grow: 0;
    padding-right: 2vh;
  }
  .padding-title-hi h1 {
    padding-right: 390px;
  }
  .review-form input[type="text"] {
    height: 150px;
  }
  .review-input textarea {
    height: auto;
  }
  .publish-button {
    height: auto;
  }
  .auth input[type="text"],
  input[type="password"] {
    height: 100px;
    font-size: 50px;
    border-radius: 45px;
  }
  button[type="submit"] {
    height: 85px;
    font-size: 55px;
    border-radius: 45px;
  }
  .text p {
    font-size: 80px;
  }
}
@media (min-width: 1919px) and (min-height: 800px) {
  button[type="submit"] {
    font-size: 1.570443vw;
  }
}
@media (max-width: 777px) {
  .login {
    padding-right: 30px;
  }
  body,
  html {
    scrollbar-width: none;
    overflow: overlay;
  }
  ::-webkit-scrollbar {
    width: 0;
  }
  .review-form textarea {
    border-radius: 15px;
  }
}
@media (max-width: 555px) {
  .padding-title {
    padding-right: 15px;
  }
  .description {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .footer-links {
    width: 45%;
  }
  .footer i {
    font-size: 35px;
  }
}
@media (max-width: 350px) {
  .returnbutton {
    padding-left: 10px;
  }
  p {
    font-size: 7px;
  }
  .login {
    padding-right: 15px;
  }
  button[type="submit"] {
    height: 30px;
  }
  .feed-checkbox input[type="checkbox"] + label:before {
    margin: 0;
  }
  .feed-checkbox label {
    font-size: 20px;
  }
  .off {
    padding-left: 0;
  }
  .padding-title {
    padding-right: 15px;
  }
  .description {
    padding-top: 10px;
    padding-bottom: 0;
  }
  .footer-links {
    width: 45%;
  }
  .footer i {
    font-size: 35px;
  }
}

/* end media */

.testtest {
  position: absolute;
}
