@font-face {
  font-family: "Gravity-Regular";
  src: url("../fonts/Gravity-Regular.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-Light";
  src: url("../fonts/Gravity-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gravity-UltraLight";
  src: url("../fonts/Gravity-UltraLight.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  overflow: auto;
}

html {
  scroll-behavior: smooth; 
  background-image: radial-gradient(
    circle,
    #37b1da,
    #2d8fba,
    #256e99,
    #1d5078,
    #133357
  );
}

body {
   height: 100vh;
   
}
p {
  color: white;
  margin: 0;
  font-family: Gravity-Regular;
  font-size: 26px;
}
.btn {
  display: block;
}
.btn p:hover {
  background-color: white;
  border: 1px white solid;
  border-radius: 20px;
  transition: 0.3s ease-in;
  color: black;
  padding: 0.2em;
}

.wrapper {
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h1 {
  font-family: Gravity-Light;
  font-size: 45px;
  color: white;
}
h2 {
  font-family: Gravity-UltraLight;
  font-size: 30px;
  color: white;
}
.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.btn h2:hover {
  background-color: white;
  border: 1px white solid;
  border-radius: 20px; 
  transition: 0.3s ease-in; 
  color: black;
  padding: 0.2em; 
}
a {
  text-decoration: none;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  flex-grow: 1;
  /* align-items: center; */
}
.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  flex-grow: 0;
}
  .footer {
    flex-grow: 0;

}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-start;
}
li {
  list-style-type: none;
}

.homebutton {
  /* flex-grow: 1; */
}
.homebutton a {
  background-image: url(/static/images/home_icon.png);
  height: 54px;
  width: 54px;
  display: block;
}
.homebutton a:hover {
  background-image: url(/static/images/home_icon_hover.png);
  background-color: white;
  border-radius: 40px;
  transition: 0.3s ease-in;
  color: black;
  padding: 0.2em;
}
.returnbutton { 
  text-align: center;
  /* flex-grow: 1; */
  padding-left: 20px;
}
.title {
  flex-grow: 3; 
  text-align: center;
}
.title h1 {
  font-size: 54px;
}

.register {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 20px;
}
.login {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 80px;
}
.add-book {
  /* flex-grow: 1; */
  text-align: center;
  padding-right: 20px;
}
.logout {
  /* flex-grow: 1;  */
  text-align: center;
  padding-right: 80px;
}
.description {
  /* flex-grow: 3; */
  text-align: center;
}
.description p {
  font-size: 34px;
}
.main {
  flex-grow: 1;
  justify-content: center;

}
.review-list {
  width: 84%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* add.html */
form {
  width: 100%;
}
.review-form {
  display: flex;
  /* justify-content: space-between;  */
  height: 100%;
  align-items: center;
}
.inputs {
  justify-content: space-around;
  display: flex;
  /* flex-wrap: wrap; */
}
.review-form label {
  display: block;
  color: white;
  font-family: Gravity-Light;
  font-size: 34px;
  text-align: center;
}
.review-form input::placeholder {
  color: #133357;
}
.review-form input[type=text] {
    background-color: #01bcc6;
    height: 50px;
    /* width: auto; */
    border: none;
    font-size: 20px;
    font-weight: 400;
    color: #efefee;
    font-family: Gravity-Regular;
    border-radius: 23px;
    text-align: center;
    outline: 0;
}
.review-form textarea {
  background-color: #01bcc6;
  height: 100%;
  /* width: auto; */
  border: none;
  font-size: 22px;
  font-weight: 400;
  color: #efefee;
  font-family: Gravity-Regular;
  border-radius: 15px;
  text-align: center;
  outline: 0;
  resize: none;
}
.title-input input{
  width: 560px;
}
.author-input input{
  width: 390px;
}
.review-input textarea {
  width: 500px;
  height: 310px;
}
.review-input textarea::placeholder {
  color: #133357;
}
.review-input {
  display: flex;
  justify-content: center;
}
.publish-button {
  justify-content: center;
  display: flex;
}
input[type='submit'] {
  height: 100%;
  width: 25%;
  font-family: Gravity-Light;
  font-weight: 700;
  font-size: 24px;
  color: black;
  line-height: 40px;
  text-align: center;
  background-color: #09cac7;
  border: 1px #87314e solid;
  /* opacity: 1; */
  cursor: pointer;
  margin-top: 50px;
  /* padding: 0px 20px; */
  border-radius: 20px;
  outline: 0;
}

input[type=submit]:hover {
background-color: rgb(141, 235, 238);
  border: 1px black solid;
  transition: 0.1s linear;
}

/* end add.html */
.review {
  /* background: url(../images/h-book-colors.png) no-repeat center top / cover; */
  background-color: #006e85;
  height: 490px;
  width: 380px;
  margin: 15px;
  text-align: center;
  /* display: flex; */
  /* justify-content: space-between; */
  /* flex-direction: column; */
}
.review h1 {
  font-family: Gravity-Regular;
  font-size: 33px;
  color: white; /*#748ed9*/ /*#006e85 */
  font-style: normal;
}
.review h2 {
  font-size: 25px;
  font-family: Gravity-Light;
}
.review p {
  font-family: Gravity-Ultralight;
  font-size: 22;
}
.book-title {
  word-wrap: break-word;
}
.book-author {
  word-wrap: break-word;
}
.review-content {
  width: 100%;
  /* height: 50%; */
  /* white-space: pre-wrap; */
  word-wrap: break-word;
}
.review-content p {
  height: 100%;
  /* display: flex; */
  /* flex-wrap: wrap; */
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}
.reviewer  {
  text-align: right;
}














