 @font-face {
    font-family: "Gravity-Regular";
    src: url('../fonts/Gravity-Regular.otf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gravity-Light";
    src: url('../fonts/Gravity-Light.otf') format('truetype');
    font-style: normal;
    font-weight: normal; 
}


* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

header {
    background-image: linear-gradient(to top, #051937, #364360, #65718b, #98a4b9, #cfd9e9);
    height: 100vh;
    display: flex;
    justify-content: space-around;
}
p {
    font-family: Gravity-Regular;
    margin: 0;
}
h1 {
    margin: 0;
    font-family: Gravity-Light;
}

a {
    margin: 0;
    font-family: Gravity-Light;
    text-decoration: none;
    color: black;
    font-size: 60px;
    font-weight: bold;
}
.padding-title {
    padding-top: 40px;
}
.center {
    display: flex;
    flex-direction: column;
}
.flex-grow1 {
    flex-grow: 1;
} 

.flex-grow2 {
    flex-grow: 2;
}
.flex-grow3 {
    flex-grow: 3;
}
.height {
    height: 33vh;
}
.links {
    height: 12vh;
    text-align: center;
}
.container {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-bottom: 70px;
}
.description {
    flex-grow: 1;
    display: flex;
}
.introducing {
     text-align: center; 
     flex-grow: 1;
}
.introducing h1 {
    font-size: 130px;
}
.introducing p {
    font-size: 60px;
}
.goto {
    height: inherit;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.scrolldown {
    text-align: center;

}
.projects-description {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #051937, #364360, #65718b, #98a4b9, #cfd9e9);
    margin: 0;
    display: flex;
    flex-direction: column;
}
.projects-description h1 {
    font-size: 40px;
    text-align: center;
}
.projects {
    flex-grow: 4;
}
.projects h1 {
    color: white;
}
.listprojects {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 50px;
}
.project {
    color: white;
    background-color: rgba(24, 23, 23, 0.253);
    width: 50%;
    text-align: center;
    border-radius: 15px;
    align-self: center;
}
.second {
    margin-top: 60px;
}
.project-title h1 {
    font-size: 69px;
}
.project-info {
    font-size: 40px; 
}
.knowledge h1 {
    color: white;
}
.contact h1 {
    color: black;
}
.button h2 {
    font-size: 60px;
    color: white;
    text-decoration: underline;
    transition: 0.2s ease-in;
}
.button h2:hover {
    color: gold;
}
.icons {
    display: flex;
    width: 100%;
    justify-content: center;
}
.icons i {
    font-size: 90px;
    transition: 0.2s ease-in;
}
.center-icons {
    text-align: center;
    width: 30%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.center-icons a:hover {
    color: goldenrod;
}









