<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/css/first_project.css" %}">
    <title>Document</title>
</head>

<body>
    <p>hello</p>
    <div class="main-form">
        <form method="POST" action="create/">
            {% csrf_token %}
            <p>
                <label> Name <br>
                    <input type="text" name="name" value="{{ person.name }}" />
                </label>
            </p>
            <p>
                <label> Age <br>
                    <input type="number" name="age" value="{{ person.age }}" />
                </label>
            </p>
            <input type="submit" value="Save">
        </form>
    </div>
    {% if people.count > 0 %}
    <h2>Users</h2>
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </thead>
        {% for person in people %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
            <td><a href="edit/{{ person.id }}">Edit</a> or
                <a href="delete/{{ person.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>