<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static "/css/styles.css" %}">
    <title>Title</title>
  </head>

  <body>
    <header>
      <div class="upper"></div>
      <div class="container">
        <div class="description">
          <div class="introducing">
            <h1>Nikita Zaliznyi</h1>
            <p>
              Junior Python Developer
            </p>
          </div>
        </div>
        <div class="projects">
          <div class="scrolldown2">
            <a href="#section1">My projects</a>
          </div>
          <div class=" scrolldown">
            <a href="#section1"
              ><img
                class="arrowpic"
                src="../static/images/arrowdown.png"
                alt="scroll down"
              />
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="projects-description" id="section1">
      <div class="contact flex-grow1">
        <h1>Contact me</h1>
      </div>
      <div class="finally flex-grow3">
        <h1>Projects</h1>
        <div class="listprojects">
          <div class="first-project flex-grow1">
            <h1>Test</h1>
          </div>
          <div class="second-project flex-grow1">
            <h1>Test</h1>
          </div>
        </div>
      </div>
      <div class="full-links flex-grow1">
        <h1>Social Links</h1>
      </div>
    </div>
  </body>
</html>
