<!DOCTYPE html>
{% load static %}
<html lang="en">
  <link rel="stylesheet" href="{% static "/css/second_project.css" %}">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <div class="homebutton">
          icon
        </div>
        <div class="returnbutton btn">
          <a href="../"><p>Return to portfolio</p></a>
        </div>
        <div class="tittle">
          <h1>Library</h1>
        </div>
        <div class="register btn">
          <a href="register"><h2>SignUp</h2></a>
        </div>
        <div class="login btn">
          <a href="login"><h2>SignIn</h2></a>
        </div>
      </div>
      <div class="description">
        <p>description</p>
      </div>
      <div class="main">
        <p>main</p>
      </div>
      <div class="footer">
        <p>footer</p>
      </div>
    </div>
  </body>
</html>
