{% extends "second_project/wrapper.html" %}
{% block description %}
<div class="description">
  <p>
    This is the second project that has a system of users <br />
    who can create a review for any book.<br />
    The user can also rate reviews of other users.
  </p>
</div>
{% endblock description %}
{% block content %}
<div class="main">
  <div class="review-list">
    {% for book in books  %}
    <div class="review">
      <div class="book-title">
        <h1>{{ book.title }}</h1>
      </div>
      <div class="book-author">
        <h2>{{ book.author }}</h2>
      </div>
      <div class="review-content">
        <p>{{ book.review  }}</p>
      </div>
      <div class="reviewer">
        <h2>{{ book.reviewer }}</h2>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
{% block footer %}
<div class="footer">
  <p>footer</p>
</div>
{% endblock footer %}