<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/second_project.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <div class="homebutton">
            <a href="/second_project">
                <!--<img src="{% static "images/home_icon.png" %}"> --></a> </div>
        <div class="returnbutton btn">
            <a href="">
                <p>Return to portfolio</p>
            </a>
        </div>
        <div class="title">
            <h1>Library</h1>
        </div>
        <div class="authorization">
            {% if user.is_authenticated %}
            <div class="logout btn flex-grow2">
                <a href="logout?next=/second_project/">
                    <h2>LogOut</h2>
                </a>
            </div>
            {% else %}
            <div class="register btn">
                <a href="register?next={{ request.path }}">
                    <h2>SignUp</h2>
                </a>
            </div>
            <div class="login btn">
                <a href="login?next={{ request.path }}">
                    <h2>SignIn</h2>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>